.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modalmain {
    position:fixed;
    background: white;
    width: 40%;
    height:70%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 2rem;
  }
  
  .displayblock {
    display: block;
  }
  
  .displaynone {
    display: none;
  }

  .container{
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 98%;
      height:100%;
    }
    
    .container form{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 85%;
      flex-shrink: 0;
      justify-content: space-evenly;
  }

    .containerInputs{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:115%;
    height: 25%;
  }

  .inputs{
    display: flex;
    flex-shrink: 0;
    width:90%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .buttonContainer{
      display: flex;
  }