@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    min-height: 100%;
    position: relative;
}
body{
    margin-bottom: 24vh;
}

@media screen and (max-width: 1700px) {
    body{
        margin-bottom: 35vh;
    }
}